<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Encryptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <Encryptor.Properties.Settings>
            <setting name="Format" serializeAs="String">
                <value>C#</value>
            </setting>
            <setting name="Method" serializeAs="String">
                <value>AES</value>
            </setting>
            <setting name="Caesar_Shift" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XOR_Key" serializeAs="String">
                <value>QUJDREVGR0g=</value>
            </setting>
            <setting name="SplitLine" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="AES_IV" serializeAs="String">
                <value>MDAwMDAwMDAwMDAwMDAwMA==</value>
            </setting>
            <setting name="AES_Key" serializeAs="String">
                <value>MTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE=</value>
            </setting>
            <setting name="Tabs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Split_base64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Xanax_XOR1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Xanax_XOR2" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Xanax_Add1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Xanax_Add2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Insertion_String" serializeAs="String">
                <value>QUJDREVGR0g=</value>
            </setting>
            <setting name="Insertion_Freq" serializeAs="String">
                <value>2</value>
            </setting>
        </Encryptor.Properties.Settings>
    </userSettings>
</configuration>
